@use '../partials/colors' as *;

*, *:before, *:after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    margin: 0;
    background: $flat-clouds;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
}
.main{
display: flex;
    justify-content: center;    
    align-items: center;
    padding: 10rem;
}
.container{
   position: relative;
    width: 30rem;
    height: 30rem;
    background: $ios-blue;
    
    .box {
        position: absolute;
        inset: 0;
        inset: 0;
        margin: auto;
        width: 10rem;
        height: 10rem;
        background: $ios-dark-blue;
    }
}
ul{
    padding: 1rem;
    background: $ios-yellow;
    list-style-position: inside;
    // list-style-image: url(/images/improvement.png);
    
    // li::marker{
    //     font-size: 2.6rem;
    //     width: 1.6rem;

    // }

    li{
        list-style-type: none;
        position: relative;
        background: $ios-pink;
        padding: .8rem;
        padding-left: 2.5rem;
        
        &:before{
            content: '';
            position: absolute;
            width:50%;
            height: 50%;
            background: url(/images/improvement.png) no-repeat left;
            background-size: contain;
            vertical-align: center;
            padding: 0;
            top: 25%;
           left: 0;
           img{
               vertical-align: center;
           }
        }
    }

}
.text-effect{
    width: 20rem;
    height: 10rem;
    margin: auto;
    // padding: .4rem;
    background: $ios-orange;
    overflow: hidden;
    text-overflow: ellipsis;
    // word-wrap: break-word;
    // word-break: break-all;
}

 .text{
     font-size: 30px;
     font-weight: bolder;
     background: url(/images/illustration-hero.svg  );
     text-align: center;
     color: #fff;
     z-index: -1;
     

     h1{
         background: transparent;
         
     }
 }