$ios-dark-blue:#5856d6;
$ios-deep-blue:#007AFF;
$ios-blue: #34AADC;
$ios-light-blue:#5AC8FA;
$ios-green:#4cd964;
$ios-pink:#ff2d55;
$ios-red:#ff3b30;
$ios-orange:#ff9500;
$ios-yellow:#ffcc00;
$ios-grey:#8e8e93;
$ios-light-grey :#ceced2;
$ios-background:#efeff4;