$fa-marigold:#FDAC53;
$fa-cerulean:#9BB7D4;
$fa-rust:#B55A30;
$fa-illuminating:#F5DF4D;
$fa-frenchblue:#0072B5;
$fa-greenash:#A0DAA9;
$fa-burntcoral:#E9897E;
$fa-mint:#00A170;
$fa-amethystorchid:#926AA6;
$fa-raspberrysorbet:#D2386C;
$fa-inkwell:#363945;
$fa-ultimategray:#939597;
$fa-buttercream:#EFE1CE;
$fa-desertmist:#E0B589;
$fa-willow:#9A8B4F;