$win-lime:#a4c400;
$win-green:#60a917;
$win-emerald:#008a00;
$win-teal:#00aba9;
$win-cyan:#1ba1e2;
$win-blue:#3e65ff;
$win-cobalt:#0050ef;
$win-indigo:#6a00ff;
$win-violet:#aa00ff;
$win-pink:#f472d0;
$win-magenta:#d80073;
$win-crimson:#a20025;
$win-red:#e51400;
$win-orange:#fa6800;
$win-amber:#f0a30a;
$win-yellow:#e3c800;
$win-brown:#825a2c;
$win-olive:#6d8764;
$win-steel:#647687;
$win-mauve:#76608a;
$win-taupe:#87794e;
$win-sienna:#a0522d;