*, *:before, *:after {
  box-sizing: border-box;
}

*:before, *:after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  background-color: #323437;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f68338;
}

body::-webkit-scrollbar-thumb {
  background: #000;
}

header h1 {
  position: relative;
  text-align: center;
  color: #f68338;
  cursor: default;
}
header h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 110px;
  height: 2px;
  background-color: #f68338;
  transition: 0.3s;
}
header h1:hover:after {
  width: 0px;
}

ul.navbar {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 2;
  background-color: #323437;
}
ul.navbar li {
  float: left;
  border-bottom: 2px solid #323437;
  transition: 0.3s;
}
ul.navbar a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  color: #f68338;
}
ul.navbar li:last-child {
  float: right;
  font-size: 2rem;
  color: #f68338;
  display: none;
}
@media screen and (max-width: 601px) {
  ul.navbar li:last-child {
    display: block;
  }
}
ul.navbar li:first-child img {
  width: 2.4rem;
  height: 2.4rem;
}
ul.navbar li:hover:not(:first-child) {
  border-bottom: 2px solid lightsalmon;
}

.navbar1 {
  display: none;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 100%;
  position: fixed;
  text-align: right;
  background-color: #292929;
  animation: left 0.5s;
}
.navbar1 li {
  text-align: center;
}
.navbar1 li:first-child {
  text-align: right;
}
.navbar1 a {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  color: #f68338;
  border-bottom: 2px solid #292929;
  transition: 0.3s;
}
.navbar1 a:hover {
  border-bottom: 2px solid lightsalmon;
}
@media screen and (max-width: 601px) {
  .navbar1 {
    display: none;
  }
}

@keyframes left {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .close {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .small-medium {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .small {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .tiny {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .tiny-tiny {
    display: none;
  }
}
.main {
  float: left;
}
.main h1 {
  color: #f68338;
}
.main p {
  color: #fff;
}
.main h3 {
  color: #fff;
}
.main:after, .main:before {
  content: "";
  clear: both;
  display: table;
}

.side {
  position: relative;
  float: left;
  padding: 0;
}
.side h1 {
  color: #f68338;
}
.side p {
  color: #fff;
}
.side h3 {
  color: #fff;
}

@media screen and (min-width: 739px) {
  .main {
    border-right: 1px solid #fff;
  }

  .main .content {
    padding: 16px;
    border-bottom: 1px solid #fff;
  }

  .main .content:last-child {
    border-bottom: none;
  }

  .side .content {
    padding: 16px;
    border-bottom: 1px solid #fff;
  }

  .side .content:last-child {
    border-bottom: none;
  }

  .m1 {
    width: 8.33333%;
  }

  .m2 {
    width: 16.66666%;
  }

  .m3 {
    width: 24.99999%;
  }

  .m4 {
    width: 33.33333%;
  }

  .m5 {
    width: 41.66666%;
  }

  .m6 {
    width: 49.99999%;
  }

  .m7 {
    width: 58.33333%;
  }

  .m8 {
    width: 66.66666%;
  }

  .m9 {
    width: 74.99999%;
  }

  .m10 {
    width: 83.33333%;
  }

  .m11 {
    width: 91.66666%;
  }

  .m12 {
    width: 99.99999%;
  }
}
@media screen and (max-width: 739px) {
  .content {
    padding: 16px;
  }

  .main .content:last-child {
    border-bottom: 1px solid #fff;
  }

  .s1 {
    width: 8.33333%;
  }

  .s2 {
    width: 16.66666%;
  }

  .s3 {
    width: 24.99999%;
  }

  .s4 {
    width: 33.33333%;
  }

  .s5 {
    width: 41.66666%;
  }

  .s6 {
    width: 49.99999%;
  }

  .s7 {
    width: 58.33333%;
  }

  .s8 {
    width: 66.66666%;
  }

  .s9 {
    width: 74.99999%;
  }

  .s10 {
    width: 83.33333%;
  }

  .s11 {
    width: 91.66666%;
  }

  .s12 {
    width: 99.99999%;
  }
}

/*# sourceMappingURL=style.css.map */
